server {
  listen       80;
  server_name  ingress;

  location / {
    proxy_pass http://api-gateway:9090;
  }

  location /internal/report-files/ {
    internal;
    access_log /dev/stdout;

    proxy_buffering off;
    proxy_pass http://s3:9000/;
  }
}